﻿@model IEnumerable<Tetas.Domain.UserPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrPost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrPost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserPostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserPostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserPostId })
        </td>
    </tr>
}

</table>
